<!DOCTYPE html>
<html>
<head>
    <title>Calculadora de Fechas de Expiración</title>
</head>
<body>
    <h1>Run Out Calculator</h1>
    <h2>Use calculator designated by limit called out on the work card.  Enter limit designated on work card to get the run out date.</h2>
    <form method="POST">
        <form method="POST">
            <label for="limit_type">Select Limit Type:</label>
            <select id="limit_type" name="limit_type">
                <option value="day">Day</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
            <br>
            <label for="limit">Limit:</label>
            <input type="number" id="limit" name="limit">
            <input type="submit" value="Calculate">
        

    </form>
</body>
</html>